@import url("helpers.css");
@import url("blocks/container.css");
@import url("blocks/form.css");

@font-face {
	font-family: "RobotoRegular";
	src:
    url("../fonts/robotoregular/robotoregular.eot"),
  	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
  	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


body {
  margin: 0;
  font: "RobotoRegular", "Arial", sans-serif;
  background-color: #daf0f7;
}
